.graph-container {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #eee;
    margin: 3px 0;
    padding-top: 10px;
    position: relative;
    text-align: right;
}
.graph-container::after {
    background-color: #eeeeee;
    border: 1px solid #ccc;
    display: block;
    font-size: 12px;
    left: -1px;
    padding: 3px 3px;
    position: absolute;
    top: -1px;
}
.graph-container .caption {
    text-align: center;
    width: 100%;
}


.graph-container-title {
    background-color: #eeeeee;
    border: 1px solid #ccc;
    display: block;
    font-size: 12px;
    left: -1px;
    padding: 3px;
    top: 3px;
}

.floating-box-response-time::after{
    content: 'Response Time Trend';
}

.floating-box-latency-time::after{
    content: 'Latency Time Trend';
}